.case__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}
.case__internal,
.case__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.case__info {
  width: calc(100% - 780px);
}
.case__info .card__no,
.case__info .card__yes {
  font-size: 14px;
}
.gallery-top {
  width: 620px;
}
.case__slide {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.case__img {
  position: relative;
  width: 100%;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}
.case__img img {
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  max-height: 100%;
}
.case__img--video::before {
  content: "";
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.35);
  background-image: url(../img/icons/play.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px 25px;
  pointer-events: none;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
.case__img--video:hover::before {
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
.gallery-thumbs {
  width: 100px;
  margin-right: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.case__gallery {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
}
.gallery-thumbs .swiper-slide {
  width: 100px;
  height: 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  border: 1px solid #f2f2f2;
  overflow: hidden;
}
.gallery-thumbs .swiper-slide img {
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  max-height: 100%;
}
.gallery-thumbs .swiper-slide-thumb-active {
  border-color: #0066b0;
}
.case__product {
  position: relative;
}
.case__prev,
.case__next {
  width: 25px;
  height: 25px;
  left: 35px;
  margin: 0;
  background-image: url(../img/icons/next-blue.svg);
  background-size: contain;
  outline: none;
}
.case__prev {
  top: 0;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.case__next {
  bottom: 0;
  top: auto;
  right: auto;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.case__articul {
  opacity: 0.5;
  font-size: 14px;
  color: #202020;
}
.case__articul span {
  opacity: 1;
}
.case__info .card__maker {
  font-size: 14px;
}
.case__info .card__maker a:hover,
.case__info .card__maker a:active {
  text-decoration: underline;
}
.case__order {
  width: 400px;
  max-width: 100%;
  margin-top: 50px;
  padding: 20px 25px;
  text-align: center;
  background-color: #f5f5f5;
  border-radius: 5px;
  border-top: 5px solid #0066b0;
}
.case__title {
  margin-top: 0;
  color: #0066b0;
}
.case__oldprice {
  margin-bottom: 0;
  font-size: 24px;
  opacity: 0.5;
  text-decoration: line-through;
  font-weight: 500;
}
.case__newprice {
  margin-top: 0;
  font-size: 30px;
  font-weight: 500;
}
.case__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}
.case__btn {
  margin-left: 15px;
  color: #fff;
  font-size: 16px;
}
.case__btn svg {
  width: 25px;
  height: 25px;
  fill: #fff;
  margin-right: 20px;
}
.case__btn:hover svg,
.case__btn:active svg {
  fill: #0066b0;
}
.case__pic {
  max-width: 800px;
  height: 500px;
  margin-right: 20px;
}
.case__pic img {
  max-height: 100%;
}
.info {
  margin-bottom: 80px;
}
.product--related {
  padding-bottom: 80px;
  padding-top: 40px;
  background-color: #f5f5f5;
}
.info__title {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.info__title .ui-tabs-active a {
  color: #0066b0;
  background-color: #f1f1f1;
}
.info__name a {
  display: block;
  padding: 12px 25px;
  outline: none;
  text-align: center;
  text-decoration: none;
  border: 1px solid #f1f1f1;
  border-bottom: 0;
  border-radius: 5px 5px 0 0;
}
.info__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px;
  border: 1px solid #f1f1f1;
  border-radius: 0 5px 5px 5px;
}
.info__field {
  width: calc(100% - 310px);
  line-height: 1.5;
}
.info__field .title-3 {
  text-align: center;
}
.info__field table {
  width: 440px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  border-collapse: collapse;
}
.info__field table td {
  height: 40px;
  padding: 0 25px;
}
.info__field table tr:nth-child(2n + 1) {
  background-color: #f5f5f5;
}
.info__list ul {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-left: 25px;
  margin-top: 20px;
  margin-bottom: 40px;
}
.info__list ul li {
  margin-bottom: 20px;
  padding-left: 30px;
  position: relative;
}
.info__list ul li::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 20px;
  height: 20px;
  background-image: url(../img/icons/steering-wheel.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.info__video {
  position: relative;
  width: 720px;
  max-width: 100%;
  margin: 35px auto;
  border-radius: 5px;
  overflow: hidden;
}
.info__video img {
  display: block;
}
.info__video::before {
  content: "";
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.35);
  background-image: url(../img/icons/play.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px 25px;
  pointer-events: none;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
.info__video:hover::before {
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
.info__docs {
  position: relative;
  left: 40%;
  padding-left: 40px;
  color: #0066b0;
}
.info__docs::before {
  content: "";
  position: absolute;
  top: -2px;
  left: 0;
  width: 30px;
  height: 30px;
  background-image: url(../img/icons/file.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.info__btn {
  display: none;
}
.aside {
  width: 280px;
  padding-left: 20px;
  border-left: 1px solid #f1f1f1;
}
.aside .title-3 {
  letter-spacing: normal;
}
.aside__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.aside__item {
  margin-bottom: 35px;
}
.aside__title {
  display: block;
  margin-bottom: 10px;
  text-decoration: none;
}
.aside__title:hover,
.aside__title:active {
  color: #0066b0;
  text-decoration: underline;
}
.aside__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.aside__img {
  width: 100px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}
.aside__img img {
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  max-height: 100%;
}
.aside__buy {
  width: 100px;
}
.aside__price {
  font-weight: 500;
}
.aside__btns {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.aside__btns::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 1px solid #0066b0;
  -webkit-transform: skewX(-15deg);
          transform: skewX(-15deg);
}
.aside__number {
  width: 50px;
  font-size: 16px;
  text-align: center;
  color: #0066b0;
  background-color: rgba(255, 255, 255, 0);
}
.aside__btn {
  width: 50px;
}
.aside__btn svg {
  width: 25px;
  height: 25px;
  fill: #fff;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
.aside__btn:hover svg,
.aside__btn:active svg {
  fill: #0066b0;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
.catalog__price,
.product__link {
  font-weight: 400;
}
.menu__link,
.title-1,
.title-2,
.title-3,
h1,
h2,
h3,
h4,
h5,
h6,
.product__title,
.catalog__name {
  letter-spacing: normal;
}
@media (max-width: 1210px) {
  .gallery-top {
    width: 450px;
    max-width: 100%;
  }
  .case__info {
    width: 400px;
    max-width: 100%;
  }
}
@media (max-width: 1022px) {
  .info__wrap,
  .case__wrap {
    display: block;
  }
  .case__slider {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .case__info {
    margin-left: auto;
    margin-right: auto;
  }
  .info__field {
    width: 100%;
  }
  .aside {
    width: 100%;
    margin-top: 40px;
    padding-left: 0;
    border-left: 0;
    border-top: 1px solid #f1f1f1;
  }
  .aside__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .aside__item {
    width: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .aside__wrap {
    margin-top: auto;
  }
}
@media (max-width: 766px) {
  .case__slider {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .case__gallery {
    padding-left: 32px;
    padding-right: 32px;
    max-width: 100%;
  }
  .gallery-thumbs {
    width: 100%;
    margin-right: 0;
  }
  .case__img {
    height: 300px;
  }
  .case__next {
    top: 45%;
    bottom: auto;
    right: 0;
    left: auto;
    -webkit-transform: none;
            transform: none;
  }
  .case__prev {
    top: 45%;
    left: 0;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .case__articul {
    text-align: center;
  }
  .case__internal {
    display: block;
  }
  .case__pic {
    width: 100%;
    height: 300px;
    max-width: 100%;
  }
  .case__about .case__order {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
  }
  .aside__item {
    width: 50%;
  }
  .product--related {
    padding-top: 0;
  }
  .info__docs {
    left: 0;
  }
  .info__btn {
    display: block;
    width: 100%;
    height: 48px;
    padding: 0 20px;
    text-align: left;
    border: 1px solid #f1f1f1;
    border-bottom: 0;
    background-color: #f5f5f5;
    border-radius: 5px 5px 0 0;
    background-image: url(../img/icons/arrow-down.svg);
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: right 20px center;
  }
  .info__title {
    display: none;
  }
  .info__wrap {
    padding: 0;
    border: 0;
  }
  .info__drop {
    display: none;
    padding: 20px;
    border: 1px solid #f1f1f1;
  }
  .info__drop--open {
    display: block;
  }
  .info__field table {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .aside__item {
    width: 100%;
  }
  .gallery-top {
    width: 280px;
  }
  .case__img {
    height: 200px;
  }
  .case__order {
    padding-left: 10px;
    padding-right: 10px;
  }
  .info__list ul {
    padding-left: 0;
  }
  .info__field table {
    font-size: 16px;
    line-height: 1.2;
  }
  .info__field table td {
    padding: 10px;
  }
  .aside__wrap {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .aside__img {
    margin-right: 20px;
  }
}
