.aside {
  width: 280px;
  padding-left: 20px;
  border-left: 1px solid #f1f1f1;
  
  .title-3 {
    letter-spacing: normal;
  }
}

.aside__list {
  .reset();
  list-style: none;
}

.aside__item {
  margin-bottom: 35px;
}

.aside__title {
  display: block;
  margin-bottom: 10px;
  text-decoration: none;
  
  &:hover,
  &:active {
    color: @blue;
    text-decoration: underline;
  }
}

.aside__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.aside__img {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  
  img {
    display: block;
    flex: 0 0 auto;
    max-height: 100%;
  }
}

.aside__buy {
  width: 100px;
}

.aside__price {
  font-weight: 500;
}

.aside__btns {
  position: relative;
  display: flex;
  justify-content: center;
  
  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1px solid @blue;
    transform: skewX(-15deg);
  }
}

.aside__number {
  width: 50px;
  font-size: 16px;
//  font-weight: 600;
  text-align: center;
  color: @blue;
  background-color: rgba(255,255,255,0);
}

.aside__btn {
  width: 50px;
  
  svg {
    width: 25px;
    height: 25px;
    fill: #fff;
    .transition();
  }
  
  &:hover,
  &:active {
    svg {
      fill: @blue;
      .transition();
    }
  }
}

.catalog__price,
.product__link {
  font-weight: 400;
}

//.promo__category,
.menu__link,
.title-1,
.title-2,
.title-3,
h1, h2, h3, h4, h5, h6,
.product__title,
.catalog__name {
  letter-spacing: normal;
}
