.aside {
  width: 280px;
  padding-left: 20px;
  border-left: 1px solid #f1f1f1;
}

.aside__list {
  .reset();
  list-style: none;
}

.aside__item {
  margin-bottom: 35px;
}

.aside__title {
  display: block;
  margin-bottom: 10px;
  text-decoration: none;
  
  &:hover,
  &:active {
    color: @blue;
    text-decoration: underline;
  }
}

.aside__wrap {
  
}
