@media (max-width: 1300px) {
  .wrapper {
    width: 100%;
  }
  .news__item,
  .offer__item {
    margin-right: 20px;
  }
  .title {
    font-size: 32px;
    padding-left: 25px;
    
    &::before {
      left: 0;
      font-size: 56px;
    }
  }
  .breadcrumbs {
    padding-left: 25px;
  }
  .tabs__item,
  .gallery__item {
    margin-right: 22px;
  }
  .map__location,
  .map__time {
    font-size: 15px;
  }
  .map__address {
    right: 20px;
    left: auto;
  }
  .map__address {
    width: 400px;
    padding: 20px;
  }
  .promo__slide {
    a {
      padding-left: 80px;
      font-size: 38px;
      
      &::before {
        font-size: 60px;
        left: 50px;
        top: -10px;
      }
    }
  }
}

//-------------------------------------
@media (max-width: 1250px) {
  .menu {
    margin-right: 40px;
  }
  .promo__slide a {
    left: 15px;
  }
  .menu__link {
    font-size: 16px;
  }
  .social--promo {
    left: 80%;
  }
  .offer__list {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
  }
  .news__list {
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
  }
  .news__item,
  .offer__item {
    margin-right: 0;
  }
  .company__list {
    flex-wrap: wrap;
  }
  .company__item {
    width: 50%;
    margin-bottom: 20px;
  }
  .company__name--wide {
    margin-right: 0;
  }
  .benefits {
    padding-bottom: 50px;
  }
  .footer {
    padding-bottom: 20px;
  }
  .contacts__block {
    width: 48%;
    padding-right: 20px;
  }
  .auto__pics,
  .tabs__list,
  .gallery__list {
    justify-content: space-around;
  }
  .gallery__item {
    margin-right: 0;
    margin-bottom: 35px;
  }
  .auto__figure,
  .tabs__item {
    margin-right: 0;
  }
  .catalog {
    width: 680px;
  }
  .catalog__list {
    justify-content: space-around;
  }
  .catalog__item {
    margin-right: 0;
  }
}

//-------------------------------
@media (max-width: 1022px) {
  .header__contacts {
    margin-right: 30px;
  }
  .menu__btn {
    display: block;
    width: 50px;
    height: 50px;
    background-image: url(../img/icon-menu-ham.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px 19px;
    
    &:hover,
    &:active {
      background-image: url(../img/icon-menu-ham-red.svg);
    }
  }
  .menu__list {
    display: none;
    position: absolute;
    top: 100%;
    left: -15px;
    z-index: 10;
    width: 300px;
    padding: 15px;
    background-color: #fff;
    border-top: 3px solid @red;
  }
  .menu__item {
    width: 100%;
  }
  .menu--opened {
    .menu__btn {
      background-image: url(../img/icon-menu-cross.svg);
      background-size: 24px 24px;
    }
  }
  .social--promo {
    left: 70%;
  }
  .search__input {
    opacity: 1;
    position: static;
    width: 160px;
    height: 35px;
    border: 1px solid rgba(51,51,51,0.5);
    
    &::placeholder {
      opacity: 0.5;
    }
    
    &:focus {
      border-color: @red;
    }
  }
  .search {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    &:hover {
      .search__input {
        height: 35px;
      }
    }
  }
  .company__name {
    margin-top: 30px;
  }
  .company__name--wide {
    margin-right: auto;
    margin-bottom: 50px;
    margin-top: 50px;
  }
  .company__wrap {
    display: block;
  }
  .list--half li,
  .company__block,
  .company__left,
  .company__right {
    width: 100%;
    padding-right: 0;
  }
  .title-3 {
    margin-bottom: 30px;
  }
  .company__pic {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
  }
  .contacts__wrap {
    display: block;
  }
  .contacts__block {
    width: 100%;
    margin-bottom: 40px;
  }
  .auto__sublist li {
    width: 25%;
  }
  .delivery__row,
  .delivery__wrap {
    flex-wrap: wrap;
  }
  .delivery__part {
    width: 100%;
  }
  .delivery__circle {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .delivery__comment {
    max-width: 450px;
  }
  .wrapper--columns {
    display: block;
  }
  .catalog {
    width: 100%;
  }
  .sidebar__filter {
    display: none;
    margin-top: 20px;
  }
  .sidebar__title {
    margin-bottom: 0;
    cursor: pointer;
  }
  .card {
    display: block;
  }
  .card__slider {
    width: 400px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
  .card__info {
    width: 100%;
    padding-left: 0;
  }
}

//-------------------------------------
@media (max-width: 665px) {
  .header__top {
    flex-wrap: wrap;
  }
  .logo {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }
  .header__contacts {
    margin-left: 0;
    margin-right: auto;
  }
  .social--promo {
    left: 55%;
  }
  .promo__slide {
    height: 350px;
  }
  .promo__slide a {
    top: 110px;
    font-size: 32px;
    
    &::before {
      font-size: 48px;
      left: 60px;
    }
  }
  .promo__slide {
    height: 500px;
  }
  .offer__item:nth-child(4n),
  .offer__item {
    margin-left: auto;
    margin-right: auto;
  }
  .company__name--wide,
  .company__item,
  .company__pic {
    width: 100%;
  }
  .map__address {
    position: static;
    width: 100%;
    margin-top: 20px;
    transform: none;
    box-shadow: none;
  }
  .contacts {
    padding-top: 50px;
  }
  .breadcrumbs {
    padding-left: 30px;
  }
  .map iframe,
  .map__block {
    height: 400px;
  }
  .contacts__data {
    padding-right: 20px;
  }
  .auto__sublist li {
    width: 33%;
  }
  .auto__item {
    padding-left: 25px;
    
    .title-2 {
      margin-left: 0;
    }
  }
  .offer {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .title-2 {
    padding-left: 20px;
    font-size: 24px;
    
    &::before {
      font-size: 42px;
    }
  }
  .title-3 {
    font-size: 18px;
  }
  .delivery__process,
  .delivery__block {
    padding: 20px;
  }
  .delivery__point {
    width: 100%;
  }
  .delivery__process,
  .delivery__post {
    display: block;
  }
  .delivery__about,
  .delivery__info {
    width: 100%;
    margin-top: 20px;
  }
  .delivery__item {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  .delivery__about {
    margin-left: 0;
  }
  .sorting__plate-btn,
  .sorting__table-btn {
    display: none;
  }
  .catalog__form--card {
    flex-direction: column;
    
    .catalog__buy {
      margin-bottom: 30px;
      width: 260px;
    }
    .catalog__click {
      width: 100%;
    }
  }
  .card__price {
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
  }
  .card__btn {
    margin-left: auto;
    margin-right: auto;
  }
  .card__yes,
  .card__no,
  .card__maker {
    text-align: center;
  }
  .cart__remove {
    width: 100%;
  }
  .cart__item {
    display: block;
    
    &--header {
      display: none;
    }
  }
  .cart__name,
  .cart__number,
  .cart__price,
  .cart__total {
    width: 100%;
    margin-bottom: 15px;
  }
  .cart__number,
  .cart__price,
  .cart__total {
    text-align: right;
    
    span {
      display: block;
    }
  }
  .cart__field {
    margin-right: 0;
  }
  .cart__btn {
    display: block;
    width: 80px;
    margin-left: 0;
    text-align: left;
    border: 0;
    border-radius: 0;
    background-image: none;
    
    span {
      display: block;
      color: @red;
    }
    
    &:hover,
    &:active {
      border: 0;
      background-image: none;
      
      span {
        text-decoration: underline;
      }
    }
  }
  .cart__name {
    padding-left: 0;
  }
  .cart__img {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    margin-bottom: 20px;
  }
  .cart__btns {
    justify-content: center;
  }
  .cart__comment {
    text-align: center;
  }
  .feedback__wrap .title-2 {
    margin-left: 0;
  }
  .card__articul {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}

//--------------------------------
@media (max-width: 480px) {
  .menu__list {
    width: 100vw;
  }
  .social--promo {
    left: 40%;
    width: 70%; 
  }
  .benefits,
  .news,
  .company,
  .offer {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .company__list {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .footer__top {
    display: block;
  }
  .footer__contacts {
    margin-top: 30px;
  }
  .map__location,
  .map__time {
    padding-left: 50px;
    
    &::before {
      width: 40px;
      height: 40px;
    }
  }
  .contacts__block .title-2,
  .contacts__data .title-2 {
    margin-left: -20px;
  }
  .contacts__data,
  .contacts__block {
    padding-left: 35px;
  }
  .contacts__table {
    tr {
      display: block;
      height: auto;
      padding-top: 5px;
      padding-bottom: 5px;
    }
    td:first-child {
      width: 100%;
      display: block;
      font-weight: 500;
    }
  }
  .feedback__btn,
  .feedback__wrap {
    width: 100%;
  }
  .auto__sublist li {
    width: 50%;
  }
  .news--internal {
    padding-top: 0;
  }
  .auto__figure a {
    width: 240px;
  }
  .auto__shop {
    margin-right: auto;
  }
  .auto__list--news {
    .auto__item {
      padding-left: 25px;
      
      .title-2 {
        margin-left: 0;
      }
    }
  }
  .promo__slide {
    height: 350px;
  }
  .title,
  .promo__slide a {
    padding-left: 20px;
    font-size: 24px;
    
    &::before {
      left: 5px;
      top: -9px;
      font-size: 40px;
    }
  }
  .promo__slide a {
    top: 90px;
    padding-right: 10px;
  }
  .company__name {
    max-width: 100%;
  }
  .breadcrumbs {
    padding-left: 20px;
  }
  .title-2 {
    font-size: 20px;
    padding-left: 15px;
    
    &::before {
      font-size: 38px;
      top: -5px;
    }
  }
  .delivery__subtitle {
    font-size: 18px;
  }
  .delivery__comment {
    width: 50%;
    font-size: 15px;
  }
  .delivery__title {
    font-size: 22px;
    line-height: 1.2;
  }
  .delivery__point {
    flex-direction: column;
    align-items: center;
    
    &:nth-child(2n) {
      .delivery__circle {
        order: 1;
        margin-left: 0;
      }
      p {
        order: 2;
      }
    }
    
    p {
      width: 100%;
      text-align: center;
    }
    .delivery__circle {
      margin-right: 0;
    }
  }
  .sorting__show {
    margin-left: 0;
  }
  .review__input {
    width: 100%;
  }
  .tabs__name{
    &:first-child {
      width: 100%;
      margin-right: 0;
      
      &::after {
        display: none;
      }
    }
  }
}
