.tabs {
  &--shop {
    margin-bottom: 100px;
    
    .tabs__list {
      margin-top: 40px;
    }
    .tabs__img img {
      max-width: 100%;
      height: auto;
    }
  }
}

.tabs__title {
  .reset();
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 30px;
  padding: 15px 30px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 10px 0px rgba(51, 51, 51, 0.15);
  
  .ui-tabs-active {
    color: @red;
  }
}

.tabs__field {
  margin-bottom: 80px;
}

.tabs__name {
  position: relative;
  margin-right: 60px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 18px;
  
  &::after {
    content: "|";
    position: absolute;
    bottom: 5px;
    right: -30px;
    color: rgba(51,51,51,0.5);
  }
  
  &:last-child::after {
    display: none;
  }
  
  a {
    outline: none;
    text-decoration: none;
    .transition();
    
    &:hover,
    &:active {
      color: @red;
      .transition();
    }
  }
}

.tabs__list {
  .reset();
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
}

.tabs__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 290px;
  min-height: 290px;
  margin-right: 25px;
  margin-bottom: 30px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 10px 0px rgba(51, 51, 51, 0.15);
  overflow: hidden;
  
  &:nth-child(4n) {
    margin-right: 0;
  }
  
  &:hover,
  &:active {
    .tabs__img img {
      transform: scale(1.05);
      .transition();
    }
  }
}

.tabs__img {
  width: 100%;
  border-bottom: 2px solid @red;
  overflow: hidden;

  a {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  img {
    display: block;
    height: 100%;
    width: auto;
    max-width: none;
    object-fit: cover;
    .transition();
  }
}

.tabs__info {
  position: relative;
  padding: 20px 15px;
  flex-grow: 1;
}

.tabs__head {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1.2;
  text-decoration: none;
  .transition();
  
  &:hover,
  &:active {
    color: @red;
    .transition();
  }
}

.tabs__more {
  position: absolute;
  bottom: 0;
  right: 15px;
  color: #929292;
  font-size: 40px;
  font-weight: 400;
  text-decoration: none;
  .transition();
  
  &:hover,
  &:active {
    color: @red;
    .transition();
  }
}
